h1 {
    text-align: center;
    color: white;
    text-shadow: #111 0px 0px 10px;
}

p {
    text-align: center;
    color: white;
    font-size: 25px;
}

.cabecera {
    background-image: url(https://images.unsplash.com/photo-1510915361894-db8b60106cb1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Z3VpdGFyfGVufDB8fDB8fA%3D%3D&w=1000&q=80);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.paralax {
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://media.istockphoto.com/photos/product-showcase-background-warehouse-blurred-3d-rendering-picture-id876420708?k=20&m=876420708&s=170667a&w=0&h=J5tYDIx0h6co2UmX9b53Xpi4K31aS7zeqwTur80PHvk=);
}

body {
    background-color: #111;
}