h1 {
    text-align: center;
    color: white;
    text-shadow: #111 0px 0px 10px;
}

p {
    text-align: center;
    color: white;
    font-size: 25px;
}

.cabecera {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://fondosmil.com/fondo/20816.jpg);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.paralax {
    text-align: center;
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://cdn.wallpapersafari.com/68/64/ehiVd9.jpg);
}

body {
    background-color: #111;
}
